img{
    height:150px;
    width:150px;

}

div.card{
    background-image:url('../images/card.jpg');
    height:150px;
    width:150px;
    margin-left:15px;
    margin-top:10px;
border:1px solid black;
}

div.row .card{
    display:inline-block;
}