
@import url(http://db.onlinewebfonts.com/c/7616976fd9a9237720c5d9bb70e58f5f?family=GatorW01-Regular);

@font-face {font-family: "GatorW01-Regular";
    src: url("http://db.onlinewebfonts.com/t/7616976fd9a9237720c5d9bb70e58f5f.eot");
    src: url("http://db.onlinewebfonts.com/t/7616976fd9a9237720c5d9bb70e58f5f.eot?#iefix") format("embedded-opentype"),
    url("http://db.onlinewebfonts.com/t/7616976fd9a9237720c5d9bb70e58f5f.woff2") format("woff2"),
    url("http://db.onlinewebfonts.com/t/7616976fd9a9237720c5d9bb70e58f5f.woff") format("woff"),
    url("http://db.onlinewebfonts.com/t/7616976fd9a9237720c5d9bb70e58f5f.ttf") format("truetype"),
    url("http://db.onlinewebfonts.com/t/7616976fd9a9237720c5d9bb70e58f5f.svg#GatorW01-Regular") format("svg");
}


body {
    background-image: url('../images/back2.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachement:fixed;
    font-family: 'GatorW01-Regular';
    font-size:25px;
    color:white;
    line-height: 200%;

}

.structure{
    margin-left:15px;
}
#cheat{
    height:50px;
    width:90px;
    color:white;
    background-color:#2869D1;
    border:3px solid black;
    font-size:15px;
    font-weight: bold;
    font-family: 'GatorW01-Regular';
}
#new{
    height:50px;
    width:150px;
    color:white;
    background-color:#3F81D8;
    border:3px solid black;
    font-size:15px;
    font-weight: bold;
    font-family: 'GatorW01-Regular';
}

.intro{
    text-align: center;
    font-size: 50px;
    color:#3F81D8;
}

#game{
 text-align:center;
    margin-top:-60px;
}
img{
    height:150px;
    width:150px;

}
#NG{
    height: 80px;
    width: 170px;
    color: black;
    background-color: transparent;
    border: 3px solid black;
    font-size: 30px;
    border-radius: 28px;
    font-weight: bold;
    text-align: center;
    display: block;
    transform: translateX(50%);
    margin-top: 20px;
    font-family: 'GatorW01-Regular';
}
div.card{
    background-image:url('../images/card2.jpg');
    height:150px;
    width:150px;
    margin-left:15px;
    /*margin-top:50px;*/
border:3px solid black;
}

div.row .card{
    display:inline-block;
}

.answer{

    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 123;

}
#message{
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 123456;
    transform: translateX(-50%) translateY(-50%);
    background-color: white;
    padding: 200px;
    font-size: 40px;
    border-radius: 18px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: black;
    background-image: url('../images/back.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    font-family: 'GatorW01-Regular';
    font-weight: bold;

}


@media screen  and  (max-width:950px){
    body {
        font-size:15px;
    }
    .structure{
        margin-left:15px;
    }
    #cheat{
        height:30px;
        width:60px;
        border:3px solid black;
        font-size:10px;
        font-weight: bold;
    }
    #new{
        height:30px;
        width:90px;
        color:white;
        border:3px solid black;
        font-size:10px;
        font-weight: bold;
    }

    .intro{
        font-size: 20px;
    }

    #game{
        margin-top:-25px;
    }
    img{
        height:80px;
        width:80px;

    }
    #NG{
        height:50px;
        width:90px;
        color:black;
        border:3px solid black;
        font-size:15px;
        font-weight: bold;
        transform: translateX(185%);
        margin-top: 20px;
    }
    div.card{
        height:80px;
        width:80px;
        margin-left:15px;
        /*margin-top:40px;*/
        border:3px solid black;
    }
    #message{
        font-size:15px;
    }
}

@media screen and(max-width: 640px) {
    body {
        font-size:10px;
    }
    .structure{
        margin-left:10px;
    }
    #cheat{
        height:20px;
        width:40px;
        border:3px solid black;
        font-size:15px;
        font-weight: bold;
    }
    #new{
        height:10px;
        width:50px;
        color:white;
        border:3px solid black;
        font-size:15px;
        font-weight: bold;
    }

    .intro{
        font-size: 10px;
    }
    #submit{
        height:10px;
        width:50px;
        color:white;
        border:3px solid black;
        font-size:15px;
        font-weight: bold;
    }
    #game{
        margin-top:-255px;
    }
    img{
        height:50px;
        width:50px;

    }
    #NG{
        height:20px;
        width:90px;
        color:white;
        border:3px solid black;
        font-size:15px;
        font-weight: bold;
        transform: translateX(185%);
        margin-top: 20px;
    }
    div.card{
        height:50px;
        width:50px;
        margin-left:8px;
        /*margin-top:5px;*/
        border:3px solid black;
    }
}
