img{
    height:200px;
    width:200px;

}

div.card{
    background-color:blue;
    height:200px;
    width:200px;
    margin-left:15px;
    margin-top:10px;
border:1px solid black;
}

div.row .card{
    display:inline-block;
}